In [1]:
import pandas as pd
import seaborn as sns

In [30]:
df=sns.load_dataset('taxis')

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [ ]:
df

In [31]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [33]:
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

In [35]:
df.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [36]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [37]:
df.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [38]:
print(f" Before treatment Number of Null in {df['payment'].name}={df['payment'].isna().sum()}")
print('-'*60)
df['payment'] = df['payment'].fillna(df['payment'].mode()[0])
print('-'*60)
print(f" After treatment Number of Null in {df['payment'].name}= {df['payment'].isna().sum()}")

 Before treatment Number of Null in payment=44
------------------------------------------------------------
------------------------------------------------------------
 After treatment Number of Null in payment= 0

In [39]:
print(f'Before Encoding Number of columns {df.shape[1]}')

for i in ['color','payment','pickup_zone','dropoff_zone','pickup_borough','dropoff_borough']:
    df2 = pd.get_dummies(df[i], dtype='int')      # Create one-hot encoded columns
    df = pd.concat([df.drop(i, axis=1), df2], axis=1)  # Drop original and add encoded

print(f'After Encoding Number of columns {df.shape[1]}')

Before Encoding Number of columns 14
After Encoding Number of columns 418

In [11]:
df['pickup_zone'].mode()

0    Midtown Center
Name: pickup_zone, dtype: object

In [12]:
df['pickup_zone']=df['pickup_zone'].fillna(df['pickup_zone'].mode()[0])

In [13]:
df.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment             0
pickup_zone         0
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [14]:
df['dropoff_zone']=df['dropoff_zone'].fillna(df['dropoff_zone'].mode()[0])

In [15]:
df['dropoff_zone'].mode()

0    Upper East Side North
Name: dropoff_zone, dtype: object

In [16]:
df.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment             0
pickup_zone         0
dropoff_zone        0
pickup_borough     26
dropoff_borough    45
dtype: int64

In [17]:
df['pickup_borough'].mode()

0    Manhattan
Name: pickup_borough, dtype: object

In [18]:
df['pickup_borough']=df['pickup_borough'].fillna(df['pickup_borough'].mode()[0])

In [19]:
df.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment             0
pickup_zone         0
dropoff_zone        0
pickup_borough      0
dropoff_borough    45
dtype: int64

In [20]:
df['dropoff_borough'].mode()

0    Manhattan
Name: dropoff_borough, dtype: object

In [21]:
df['dropoff_borough']=df['dropoff_borough'].fillna(df['dropoff_borough'].mode()[0])

In [22]:
df.isna().sum()

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
dtype: int64

In [44]:
for i in df.columns:
    if df[i].dtypes=='object':
        print('*'*30)
        print(f'Number of unique Categories in {i}={len(df[i].unique())}')
        print('*'*30)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().